In [1]:
import pandas as pd
import numpy as np

import plotly.graph_objects as go

import create_option_chain
#import index_stock_data
#import main_script
#import signal_generation_offline
#import signal_generation_online
#import time_scheduler
import support_resistance_fractal as srf

In [2]:
test_data = pd.read_csv("test_1.csv")

In [3]:
test_data.columns

Index(['Unnamed: 0', 'Date', 'Open', 'High', 'Low', 'Close', 'Vol', 'SMA 30',
       'SMA 60', 'enter_signal', 'exit_signal'],
      dtype='object')

In [4]:
test_data.drop(["Unnamed: 0",'SMA 30',
       'SMA 60', 'enter_signal', 'exit_signal'], axis= 1, inplace = True)

In [21]:
def support_resistance(df):
    is_support = [srf.is_support(df,i+2) for i in range(len(df)-4)]
    is_support.insert(0,None)
    is_support.insert(1,None)
    is_support.append(None)
    is_support.append(None)
    df["is_support"] = is_support
    df.loc[df["is_support"] == True, "is_support_price"] = df["Low"]
    
    is_resistance = [srf.is_resistance(df,i+2) for i in range(len(df)-4)]
    is_resistance.insert(0,None)
    is_resistance.insert(1,None)
    is_resistance.append(None)
    is_resistance.append(None)
    df["is_resistance"] = is_resistance
    df.loc[df["is_resistance"] == True, "is_resistance_price"] = df["High"]
    
    return df

In [22]:
test_data = support_resistance(test_data)

In [23]:
test_data.head(20)

,Date,Open,High,Low,Close,Vol,is_support,is_resistance,is_support_price,is_resistance_price
0,2022-12-01 09:15:00,18871.9,18874.30,18842.05,18867.0,0,None,None,NaN,NaN
1,2022-12-01 09:20:00,18866.9,18887.60,18865.55,18868.3,0,None,None,NaN,NaN
2,2022-12-01 09:25:00,18867.8,18874.45,18851.30,18855.0,0,False,False,NaN,NaN
3,2022-12-01 09:30:00,18855.4,18864.85,18853.25,18863.3,0,False,False,NaN,NaN
4,2022-12-01 09:35:00,18862.1,18870.95,18859.20,18867.9,0,False,False,NaN,NaN
5,2022-12-01 09:40:00,18867.8,18882.15,18866.30,18868.1,0,False,True,NaN,18882.15
6,2022-12-01 09:45:00,18867.5,18867.50,18838.75,18840.8,0,False,False,NaN,NaN
7,2022-12-01 09:50:00,18842.5,18849.45,18840.55,18843.4,0,False,False,NaN,NaN
8,2022-12-01 09:55:00,18843.9,18844.40,18832.85,18842.8,0,False,False,NaN,NaN
9,2022-12-01 10:00:00,18843.0,18845.80,18829.70,18835.6,0,True,False,18829.70,NaN
10,2022-12-01 10:05:00,18834.7,18846.15,18831.55,18838.2,0,False,True,NaN,18846.15
11,2022-12-01 10:10:00,18837.9,18844.10,18836.00,18843.0,0,False,False,NaN,NaN
12,2022-12-01 10:15:00,18843.6,18843.65,18821.25,18822.6,0,False,False,NaN,NaN
13,2022-12-01 10:20:00,18822.3,18824.95,18816.65,18822.2,0,True,False,18816.65,NaN
14,2022-12-01 10:25:00,18823.3,18837.25,18823.25,18834.0,0,False,False,NaN,NaN
15,2022-12-01 10:30:00,18835.0,18837.25,18825.60,18827.2,0,False,False,NaN,NaN
16,2022-12-01 10:35:00,18827.1,18834.20,18824.10,18832.2,0,False,False,NaN,NaN
17,2022-12-01 10:40:00,18831.1,18831.65,18825.10,18828.0,0,False,False,NaN,NaN
18,2022-12-01 10:45:00,18827.9,18832.90,18825.75,18832.0,0,False,False,NaN,NaN
19,2022-12-01 10:50:00,18831.2,18840.15,18831.00,18838.3,0,False,False,NaN,NaN